# CODEOWNERS for the main branch in the infrastructure

# These users are the default owners for everything in the repo.
* @sarwari-mallela
* @woonscode
* @clorenzol 
* @riyadmazari 

# For the security branch specifically
/main/* @sarwari-mallela @woonscode
